@import url("https://fonts.bunny.net/css?family=inter:400,400i,700,700i|macondo:400");

:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-colour: #3a2620; /* dark brown */
    --secondary-colour: #aa9581; /* light brown */
    --highlight-colour: #416a8e; /* blue */
    --highlight-colour-light: #7a9fc2; /* light blue */
}

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-colour);
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.subheading-colour {
    color: var(--highlight-colour);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* buttons */

.custom-button-filled {
    border: 2px solid var(--highlight-colour);
    background-color: var(--highlight-colour);
    color: white;
}

.custom-button-filled:focus-visible,
.custom-button-filled:hover {
    border: 2px solid var(--secondary-colour);
    background-color: var(--secondary-colour);
    color: white;
}

.custom-button-outline {
    border: 2px solid var(--highlight-colour);
    color: var(--highlight-colour);
    background-color: transparent;
    padding: 7px 25px;
}

.custom-button-outline:focus-visible,
.custom-button-outline:hover {
    color: white;
    background-color: var(--highlight-colour);
}

/* navbar */
#navbar {
    background-color: var(--primary-colour);
}

#navbar .logo {
    width: 30px;
}

/* header */

#header .lead {
    font-family: var(--secondary-font);
}

/* services */

#services .card-footer {
    font-weight: bold;
    color: var(--highlight-colour);
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}

/* events */

#events td:first-child {
  font-weight: bold;
}

/* games library */

.games .card-footer {
    background-color: transparent;
    border-width: 0;
}

.games .card {
    margin-bottom: 1.5rem;
}

.games .game-data-caption
{
    font-style: italic;
}

/* footer */

#contact {
    background-color: var(--primary-colour);
    color: white;
    padding-bottom: 3rem;
}

#contact h2 {
    color: white;
}

#contact .subheading-colour {
    color: var(--highlight-colour-light);
}

#contact i {
    color: var(--secondary-colour);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {
    color: var(--highlight-colour-light);
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-colour);
}

#contact .table-dark * {
    background-color: transparent;
}

/* Tiny devices */
@media screen and (max-width: 576px) {
    #events table {
        font-size: smaller;
    }

    #discount-button {
        width: 100%;
    }
}

/* Medium devices, tablets and up */
@media screen and (min-width: 768px) {
    /* Make the services cards the same height so the bases align */
    #services .card-body {
        min-height: 190px;
    }

    /* Make the game cards the same height so the bases align */
    #fav-games .card-body {
        min-height: 215px;
    }
}

/* Large devices, small laptops and up */
@media screen and (min-width: 992px) {
    /* Make the services cards the same height so the bases align */
    #services .card-body {
        min-height: auto;
    }

    /* Make the game cards the same height so the bases align */
    #fav-games .card-body {
        min-height: auto;
    }
}

/* Extra-large devices, laptops and up */
@media screen and (min-width: 1200px) {
    /* Make the services cards the same height so the bases align */
    #services .card-body {
        min-height: 220px;
    }

    /* Make the game cards the same height so the bases align */
    #fav-games .card-body {
        min-height: 270px;
    }
}

/* Extra-extra-large devices, larger laptops and up */
@media screen and (min-width: 1400px) {
    /* Make the services cards the same height so the bases align */
    #services .card-body {
        min-height: 200px;
    }

    /* Make the game cards the same height so the bases align */
    #new-games .card-body {
        min-height: 195px;
    }
    #fav-games .card-body {
        min-height: 220px;
    }
}

/* grid visualisation CSS for testing */
/*
.container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}
*/