@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap");

:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-colour: #3a2620; /* dark brown */
    --secondary-colour: #aa9581; /* light brown */
    --highlight-colour: #416a8e; /* blue */
    --highlight-colour-light: #7a9fc2; /* light blue */
}

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-colour);
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.subheading-colour {
    color: var(--highlight-colour);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* navbar */
#navbar {
    background-color: var(--primary-colour);
}

#navbar .logo {
    width: 30px;
}

/* header */

#header .lead {
    font-family: var(--secondary-font);
}

/* services */

#services .card-footer {
    font-weight: bold;
    color: var(--highlight-colour);
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}

/* Medium devices, tablets and up */
@media screen and (min-width: 768px) {
    /* Make the cards the same height so the bases align */
    #services .card-body {
        min-height: 190px;
    }
}

/* Large devices, small laptops and up */
@media screen and (min-width: 992px) {
    /* Make the cards the same height so the bases align */
    #services .card-body {
        min-height: auto;
    }
}

/* Extra-large devices, laptops and up */
@media screen and (min-width: 1200px) {
    /* Make the cards the same height so the bases align */
    #services .card-body {
        min-height: 220px;
    }
}
/* Extra-extra-large devices, larger laptops and up */
@media screen and (min-width: 1400px) {
    /* Make the cards the same height so the bases align */
    #services .card-body {
        min-height: 200px;
    }
}

/* grid visualisation CSS for testing */
/*
.container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}
*/